html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
 
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: center;
  width: 100%;
}

#description {
  margin-top: 10px;
  margin-bottom: 10px;
}

#content {
  font-size: 14px;
  border: 1px solid #DDD;
  border-radius: 3px;
}

#all-elements {
  width: 1000px;
  height: 450px;
  overflow: auto;
  padding-left: 6px;
  padding-right: 6px;
  overflow-x: hidden;
}

.breadcrumb {
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #DDDDDD;
}

.value {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#error.alert-message p {
  margin-left: 20px;
}

.disabled {
  opacity: 0.2;
  filter: alpha(opacity=50);
}

.close {
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #DDDDDD;
}